<ion-view view-title="About">
  <ion-content padding="true" style="background: #F3F3F3;">
    <h2 class="positive">Bonne Affaire</h2>
    <h3 class="dark">General</h3>

    <p style="color: #B0B0B0;">Version 1.0</p>

    <h3 class="dark">Conditions of use</h3>
    <p style="color: #B0B0B0;">Welcome to our Mobile store!
      Bonne Affaire and its associates provide their services to you subject
      to the following conditions. If you visit or shop in this website, you
      must accept these conditions. Please read them.</p>

    <h4 class="dark">Privacy</h4>
    <p style="color: #B0B0B0;">Please review our Privacy Notice, which conducts your use of our apps.</p>

    <h4 class="dark">Privacy</h4>
    <p style="color: #B0B0B0;">Please review our Privacy Notice, which conducts your use of our apps.</p>

    <h4 class="dark">Digital security</h4>
    <p style="color: #B0B0B0;">All informations and transactions committed
      through this app are secured and under our responsibility.</p>
  </ion-content>
</ion-view>
