<ion-view view-title="Login" align-title="left">
  <ion-content padding="true" style="background: #F3F3F3;"><!--   -->
    <div class="item item-body item-borderless" style="background: #F3F3F3;">
      <img class="full-image" src="img/logo.png">
    </div>
    <div class="item item-body item-borderless" style="background: #F3F3F3;">
      <p>To reset your password, please enter the email address typed during Sign-Up and you will receive an email
        containing your new password</p>
    </div>
    <br>
    <div class="list">
      <form name="frm">
        <label class="item item-input animated">
          <span class="input-label" style="width: auto;"><i class="icon ion-email"></i></span>
          <input type="email" placeholder="Email" required ng-model="email" name="email">
        <span class="input-label" style="width: auto;" ng-show="frm.email.$dirty && frm.email.$error.required"><i
          class="icon ion-android-alert assertive"></i></span>
        </label><br>
        <button class="button button-balanced button-block" ng-click="sendPassword(email)">
          <i class="icon light ion-ios-refresh"></i> RESET PASSWORD
        </button>
      </form>
    </div>

    <div class="row">
      <div class="col col-40">
        <button class="button button-clear button-positive animated pulse" ui-sref="login">
          LOGIN
        </button>
      </div>
      <div class="col col-60">
        <button class="button button-clear button-positive animated pulse" ui-sref="register">
          SIGN UP
        </button>
      </div>
    </div>


  </ion-content>
</ion-view>
