<ion-view view-title="Help">
  <ion-content padding="true" style="background: #F3F3F3;">
    <div class="card">
      <div class="item item-divider item-light">
        <p style="color: #B0B0B0;">1. What is an offer?</p>
      </div>
      <div class="item item-text-wrap item-light">
        <p style="color: #B0B0B0;">An offer is a market opportunity provided by a company to a limited
          number of subscribers during restricted period of time.</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-light">
        <p style="color: #B0B0B0;">2. What is a business category?</p>
      </div>
      <div class="item item-text-wrap item-light">
        <p style="color: #B0B0B0;">A business category is a group of related or similar products.</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-light">
        <p style="color: #B0B0B0;">3. How to create an offer?</p>
      </div>
      <div class="item item-text-wrap item-light">
        <!--p>If you are a business owner and you want to become one of our partners, it's pretty simple.
        Go ahead to our website and create your account in less than 5 minutes!</p-->
        <p style="color: #B0B0B0;">
          Offer creation is restricted to our website solution, go to our website, log in, create your
          offers and send them to administration for validation.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-light">
        <p style="color: #B0B0B0;">4. How to update an existing offer?</p>
      </div>
      <div class="item item-text-wrap item-light">
        <p style="color: #B0B0B0;">Usually, when you send an offer, you cannot change its content.</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-light">
        <p style="color: #B0B0B0;">5. What is validity duration of an offer?</p>
      </div>
      <div class="item item-text-wrap item-light">
        <p style="color: #B0B0B0;">Validity duration is a date interval in which you offer is visible to the client.
          Out of this period, you offer is expired.</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider item-light">
        <p style="color: #B0B0B0;">6. How to update my account informations?</p>
      </div>
      <div class="item item-text-wrap item-light">
        <p style="color: #B0B0B0;">Select "Account" menu to customize your account informations.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
