<ion-view view-title="Stores near by">
  <ion-content scroll="false">
    <!--<label class="item item-input item-select">
      <i class="icon ion-android-globe dark"></i>&nbsp;
      <div class="input-label">
        Categories
      </div>
      <select class="block" ng-model="stores.category" ng-change="categorySelection()"
              ng-options="category.name for category in categories">
        <option>All</option>
      </select>
    </label>
    <div id="map"></div>-->
  </ion-content>
</ion-view>
