<ion-view view-title="Search">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon dark"></i>
        <input type="text" placeholder="Search" ng-model="searchText.text" ng-change="search()"/>
        <!--button class="button button-small button-light" style="margin-right: 5px;" ng-click="search()">
          Submit
        </button-->
      </label>
      <ion-checkbox class="item-icon-right" ng-model="filter.offers" ng-change="search()"><i class="icon ion-bag dark"></i>
        Offers
      </ion-checkbox>
      <ion-checkbox class="item-icon-right" ng-model="filter.stores" ng-change="search()"><i class="icon ion-flag dark"></i> Stores
      </ion-checkbox>
      <!--button class="button button-block button-light" ng-click="search()">
        Submit
      </button-->
    </div>

    <ion-list>
      <div class="item item-divider item-icon-right dark" ng-show="activeOffers">
        <i class="icon ion-bag"></i>
        Offers
        <p ng-show="!activeOffers.length>0">No offers matches this text</p>
      </div>
      <a class="item item-thumbnail-right" ng-repeat="activeOffer in activeOffers"
         ng-href="#/app/offers/{{activeOffer.offer.id}}">
        <img ng-src="{{siteRoot}}/upload/assets/img/media-support/{{activeOffer.mediaSupport.fileName}}">
        <p class="h2"><i class="icon ion-ios-pricetag dark"></i> {{activeOffer.localBusiness.label}}</p>
        <p class="h3">{{activeOffer.offer.title}}</p>

        <h3 class="balanced" ng-show="activeOffer.offer.promotionType=='Absolute'">
          <i class="icon ion-thumbsup balanced"></i> {{activeOffer.offer.promotionSecondParam}} DTN <strike
          class="assertive"><i class="icon ion-thumbsdown assertive"></i> {{activeOffer.offer.promotionFirstParam}} DTN</strike>
        </h3>
        <h3 class="balanced" ng-show="activeOffer.offer.promotionType=='Gift'">
          {{activeOffer.offer.promotionFirstParam}} <i class="icon ion-android-done dark"></i>{{activeOffer.offer.promotionSecondParam}}
        </h3>
        <h3 class="balanced" ng-show="activeOffer.offer.promotionType=='Relative'">
          {{activeOffer.offer.promotionFirstParam}} % discount
        </h3>
        <h4 class="dark pull right"><i class="icon ion-clock"></i>&nbsp;{{activeOffer.time.days}}<sub>days</sub>&nbsp;{{activeOffer.time.hours}}<sub>hours</sub>&nbsp;{{activeOffer.time.minutes}}<sub>minutes</sub>
        </h4>
      </a>
    </ion-list>
    <div class="item item-divider item-icon-right dark" ng-show="stores">
      <i class="icon ion-flag"></i>
      Stores
      <p ng-show="!stores.length>0">No stores matches this text</p>
    </div>
    <div class="list">

      <a class="item item-thumbnail-left" ng-href="{{siteRoot}}/upload/assets/img/localbusiness/{{store.logo}}"
         ng-repeat="store in stores">
        <img ng-src="{{siteRoot}}/upload/assets/img/localbusiness/{{store.logo}}"/>
        <h2>{{store.label}}</h2>
        <p>{{store.description}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
