[project]
	description = Ionic 1.x app from my graduation project (End User App)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jemli Fathi (jemliF)
[access "refs/for/refs/*"]
	read = group user/Jemli Fathi (jemliF)
	push = group user/Jemli Fathi (jemliF)
	label-Code-Review = -2..+2 group user/Jemli Fathi (jemliF)
	label-Verified = -1..+1 group user/Jemli Fathi (jemliF)
	rebase = group user/Jemli Fathi (jemliF)
	removeReviewer = group user/Jemli Fathi (jemliF)
	submit = group user/Jemli Fathi (jemliF)
[access "refs/heads/*"]
	read = group user/Jemli Fathi (jemliF)
	create = group user/Jemli Fathi (jemliF)
	push = +force group user/Jemli Fathi (jemliF)
	pushMerge = group user/Jemli Fathi (jemliF)
[access "refs/tags/*"]
	push = group user/Jemli Fathi (jemliF)
	push = +force group user/Jemli Fathi (jemliF)
